<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Online Code Compiler</title>
    <link rel="stylesheet" href="/assets/css/styleForCompiler.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <div class="">
      <div class="row">
        <div class="col-md-6">BEEN nay la content</div>
        <div class="col-md-6 form-group compiler">
          <label for="code-input">Code:</label>
          <textarea id="code-input" class="form-control"></textarea>

          <label for="language-select">Language:</label>
          <select id="language-select">
            <option value="c">C</option>
            <option value="cpp">C++</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
          </select>

    <label for="input">Input:</label>
    <textarea id="input" class="form-control"></textarea>

    <button id="compile-button">Compile</button>

    <pre id="output"></pre></div>
      </div>
    </div>
    

    <script>
      const compileButton = document.getElementById('compile-button');
      const codeInput = document.getElementById('code-input');
      const languageSelect = document.getElementById('language-select');
      const input = document.getElementById('input');
      const output = document.getElementById('output');

      compileButton.addEventListener('click', () => {
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/test');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = () => {
          if (xhr.status === 200) {
            output.innerText = xhr.responseText;
          } else {
            output.innerText = 'Error occurred';
          }
        };
        xhr.send(JSON.stringify({
          code: codeInput.value,
          language: languageSelect.value,
          input: input.value
        }));
      });
    </script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
  </body>
</html>
